.jumbotron{
  width:100%;
}
h1{
  margin-left:12%;
}
.panel-button{
  width:10%;
}
.col-sx-3{
  width:6%;
  height:10%;
  display:inline-block;
  text-decoration:none;
  margin-top:10px;
  margin-left:3%;
}

.panel2primary{
  margin-left:25%;
}
.panel3primary{
  margin-left:40%;

}
.panel4primary{
  margin-left:50%;

}
