.jumbotron {
  width: 100%; }

h1 {
  text-align: center; }

.panel-button {
  width: 45%;
  margin: 0.3%; }

.rowWrapper {
  width: 100%;
  display: block;
  text-decoration: none;
  margin-top: 2%;
  margin: 0 auto; }

.panel1, .panel {
  vertical-align: top;
  width: 45%;
  display: inline-block;
  margin: 0 auto; }
  .panel1 .box, .panel .box {
    width: 350px;
    height: 350px;
    border: 2px solid #a30090;
    background: #237ece;
    text-align: center; }
